@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto:wght@300;700&display=swap');

body {
    background-image: url('images/BGR.png');
    background-color: black;
    color: aliceblue;
    font-family: "Roboto", sans-serif
    
}

.container {
    width: auto;
    height: 100%;
    text-align: center;
}

.game-title {
    font-size: 1.5em;
    color: brown;
    
}

#grid {
    width: 800px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}