@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto:wght@300;700&display=swap');

body {
    background-image: url('images/BGR.png');
    background-color: black;
    color: aliceblue;
    
}

.container {
    width: auto;
    height: 100vh;
    text-align: center;
    position: relative;

}

h1 {
    font-family: "Roboto", sans-serif;

}

h3 {

    font-family: "Roboto", sans-serif
}

.game-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: brown;
    position: absolute;
    top: 5%;
    transform: translate(-50%, -50%);
    
}

#grid {
    width: 800px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}